body {
    margin: 0px;
    background-color: #c59cf0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28034f;
    color: white;
    padding: 3px;
}

.logo {
    width: 130px;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0px;

}

#addTask {
    background-color: #c068ff;
    width: 15%;
    color: #000;

}

#addTask:hover {
    background-color: #37146d;
    color: #ffffff;


}

.sidebar {
    flex: 1;
    box-shadow: inset -3px 0px 20px 2px rgb(57, 26, 67);
    background-color: #6a5888;
    font-size: 40px;
    width: 20px;
    margin: 0px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

}

.taskbars {
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
}

#tasks {
    list-style: none;
    padding: 0;
}

#tasks li {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.delete-btn {
    cursor: pointer;
    background-color: #ffffff;
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
    width: 15%;
}

.delete-btn:hover {
    background-color: #ffffff;
    color: #ffffff;
}

.task-list {
    flex: 3;
    padding: 20px;
    background-color: #ffffff;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 1px 0px 19px 10px rgba(0, 0, 0, 0.62);
}

h1 {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    color: #28034f;
}

h2 {
    color: #ffffff;
    margin: 20px;
    font-size: 28px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    width: 93%;
    background-color: #6a5888;
    text-align: left;
    color: #ffffff;
    border: none;
    margin: 4px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #28034f;
    color: white;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4d4ff;
    border: 1px solid #f0e8f5;
    border-radius: 5px;
}

input[type="date"] {
    width: 15%;
    padding: 10px;
    background-color: #f0c3ff;
    margin-bottom: 10px;
    border: 1px solid #f7f0f0;
    border-radius: 5px;
}